@charset "utf-8";
@import url("fontawesome-free/css/fontawesome-all.min.css");
@import url("framework.css");

/* Rows
--------------------------------------------------------------------------------------------------------------- */
.row0, .row0 a{}
.row1, .row1 a{}
.row2, .row2 a{}
.row3, .row3 a{}
.row4, .row4 a{}
.row5, .row5 a{}


/* Header
--------------------------------------------------------------------------------------------------------------- */
#header{}

#header #logo{margin:22px 0 0 0;}


/* Page Intro
--------------------------------------------------------------------------------------------------------------- */
#pageintro{padding:200px 0 280px;}/* 280px => 80px for #introblocks negative margin */

#pageintro article, #pageintro article p{display:block; max-width:75%; margin:0 auto; text-align:center;}
#pageintro article p{max-width:65%; line-height:2rem;}
#pageintro .heading{margin-bottom:20px; font-size:4rem;}
#pageintro footer{margin-top:50px;}


/* Content Area
--------------------------------------------------------------------------------------------------------------- */
.container{padding:80px 0;}

/* Content */
.container .content{}

.sectiontitle{display:block; max-width:55%; margin:0 auto 80px; text-align:center;}
.sectiontitle *{margin:0;}

.elements{}
.elements-three li, .elements-four li{margin-bottom:50px;}
.elements-three li:nth-last-child(-n+3), .elements-four li:nth-last-child(-n+4){margin-bottom:0;}/* Removes bottom margin from the last line of items - margin is restored in the media queries when items stack */
.elements-three li:nth-child(3n+1), .elements-four li:nth-child(4n+1){margin-left:0; clear:left;}/* Removes the need to add class="first" */
.elements article{display:block; padding:30px 15px; border-radius:50px 0; text-align:center;}
.elements article *{margin:0 0 15px 0; padding:0; line-height:1;}
.elements article i{width:60px; height:60px; line-height:60px; margin-bottom:30px; font-size:1.6rem; text-align:center; border-radius:50%;}
.elements article .heading{font-size:1.2rem; font-weight:700;}
.elements article p{margin:0; line-height:normal;}

/* Introblocks */
#introblocks{display:block; position:relative; margin:-240px 0 130px 0; z-index:1;}/* 160px => 80px + container padding */









/* Copyright
--------------------------------------------------------------------------------------------------------------- */
#copyright{padding:20px 0;}
#copyright *{margin:0; padding:0;}

*, *::before, *::after{transition:all .3s ease-in-out;}
#mainav form *{transition:none !important;}


/* Colours
--------------------------------------------------------------------------------------------------------------- */
body{color:#A5A6AA; background-color:#282E39;}
a{color:#97A9BD;}
a:active, a:focus{background:transparent !important;}/* IE10 + 11 Bugfix - prevents grey background */
hr, .borderedbox{border-color:#D7D7D7;}
label span{color:#FF0000; background-color:inherit;}
input:focus, textarea:focus, *:required:focus{border-color:#97A9BD !important;}

.overlay{color:#FFFFFF; background-color:inherit;}
.overlay::after{color:inherit; background-color:rgba(40,46,57,.7);/* #282E39 */}
.overlay.light::after{background-color:rgba(151,169,189,.7);/* #97A9BD */}

.gradient{color:#474747; background:linear-gradient(to bottom, #F4F4F4 55%, #FFFFFF 50%, #FFFFFF 100%);}/* Overlap dark to make a hard transition */
@media screen and (max-width:750px){/* Only the colours height has been changed */
	.gradient{background:linear-gradient(to bottom, #F4F4F4 24%, #FFFFFF 19%, #FFFFFF 100%);}
}

.btn, .btn.inverse:hover{color:#FFFFFF; background-color:#97A9BD; border-color:#97A9BD;}
.btn:hover, .btn.inverse{color:inherit; background-color:transparent; border-color:inherit;}

.imgover:hover::before{background-color:rgba(151,169,189,.5);/* #97A9BD */}
.imgover, .imgover:hover::after{color:#FFFFFF;}

.logoname a{color:#FFFFFF;}
.logoname::first-letter, .logoname span{color:#97BDAB;}


/* Rows */
.row0, .row0 a{}
.row1{color:#FFFFFF; background-color:#000000;}
.row2{color:#474747; background-color:#F4F4F4;}
.row3{color:#474747; background-color:#FFFFFF;}
.row4{color:#A5A6AA; background-color:#000000;}
.row5, .row5 a{color:#A5A6AA; background-color:#282E39;}
.coloured{color:#FFFFFF; background-color:#97A9BD;}


/* Header */
#header #logo a{color:inherit;}


/* Page Intro */
#pageintro{color:#FFFFFF;}


/* Content Area */
.elements article{color:#474747; background-color:#FFFFFF; box-shadow:0px 0px 15px rgba(0,0,0,.3);}
.elements article:hover{color:#FFFFFF; background-color:#97A9BD;}/* Default */
.elements article a i{color:#FFFFFF; background-color:#97A9BD;}/* Default */
.elements article:hover a i{color:#97A9BD; background-color:#FFFFFF;}/* Default */

/* ###### DELETE THE FOLLOWING IF ONLY THE DEFAULT COLOUR IS REQUIRED ###### */
#introblocks .elements li article{color:#FFFFFF; background-color: #00ACEE;}/* Blue */
#introblocks .elements li article a i{color:#ea9b2c; background-color:#FFFFFF;}/* Blue */
#introblocks .elements li article:hover{color:#00ACEE; background-color:#FFFFFF !important;}
#introblocks .elements li article:hover a i{color:#FFFFFF !important; background-color:#97A9BD;}
#introblocks .elements li:nth-child(2) article, #introblocks .elements li:nth-child(2) article:hover a i{background-color:#ea9b2c;}/* Purple */
#introblocks .elements li:nth-child(2) article a i{color:#00ACEE;}/* Purple */
#introblocks .elements li:nth-child(3) article, #introblocks .elements li:nth-child(3) article:hover a i{background-color:#ea9b2c;}/* Brown */
#introblocks .elements li:nth-child(3) article a i{color:#00ACEE;}/* Brown */
#introblocks .elements li:nth-child(4) article, #introblocks .elements li:nth-child(4) article:hover a i{background-color:#ea9b2c;}/* Green */
#introblocks .elements li:nth-child(4) article a i{color:#00ACEE;}/* Green */
#introblocks .elements li:nth-child(5) article, #introblocks .elements li:nth-child(5) article:hover a i{background-color:#00ACEE;}/* Green */
#introblocks .elements li:nth-child(5) article a i{color:#00ACEE;}/* Green */
/* ###### END DELETE ###### */

.shout figure figcaption a{color:inherit; background-color:inherit; border-color:#D7D7D7;}
.shout figure:hover figcaption a, .shout figure figcaption a::after{color:#FFFFFF; background-color:#97A9BD; border-color:#97A9BD;}
.shout figure:hover figcaption a::after{color:#97A9BD; background-color:#FFFFFF;}

.team figure figcaption{color:#474747; background-color:#FFFFFF; border-color:#D7D7D7;}

#testimonials article blockquote{color:#474747; background-color:#FFFFFF;}
#testimonials article blockquote::before{color:rgba(0,0,0,.05);}
#testimonials article blockquote::after{border-top-color:#FFFFFF;}

#latest article .meta, #latest article .meta *{color:#FFFFFF; background-color:#282E39;}
#latest article .excerpt{border-color:#D7D7D7;}





/* Footer */
#footer .heading{color:#FFFFFF;}
#footer hr, #footer .borderedbox, #footer .linklist li{border-color:rgba(255,255,255,.1);}




/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Media Queries
--------------------------------------------------------------------------------------------------------------- */
@-ms-viewport{width:device-width;}


/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:1140px){
	.hoc{max-width:1140px;}
}

@media screen and (min-width:978px) and (max-width:1140px){
	.hoc{max-width:95%;}
}


/* Mobile Devices
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:978px){
	.hoc{max-width:90%;}

	#header{padding:30px 0;}
	#header #logo{margin-top:0;}

	#mainav{}
	#mainav ul{display:none;}
	#mainav form{display:block; margin-top:2px;}

	#breadcrumb{}

	.container{}
	#comments input[type="reset"]{margin-top:10px;}
	.pagination li{display:inline-block; margin:0 5px 5px 0;}

	#footer{}

	#copyright{}
	#copyright p:first-of-type{margin-bottom:10px;}
}


